html {
  overflow-y: hidden;
}


img {
  width: 500px;
}

#homeheader {
  display:none;
}

#homehero {
  grid-template-columns: 2fr 4fr 2fr;
  grid-column: 1 / span 2;
  grid-row: 1 / 6;
}

#pagecontent {
  align-items: center;
  grid-column: 2 / span 1;
  margin-top: 100px;
}

#pagecontent > p {
  margin-left: 0;
}

#astronaut {
  display: none;
}

#homefooter {
  display: none;
}

h1 {
  display: none;
}
