#hometitle {
  display: flex;
}

#homehero {
  grid-template-columns: 1fr 4fr 1fr;
  grid-column: 1 / span 2;
  margin-top: 70px;
}

#pagecontent {
  grid-column: 2 / span 2;
}

#astronaut {
  grid-column: 1 / span 1;
}
