<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
  <div id="homewrapper">
  <div id="homeheader">
    <div id="hometitle"><a href="#">{{ site.topnav_title }}</a></div>
    <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search AnarchySF" name="search" autocomplete="on" />
  </div>
  <div id="sidebar">
    <ul id="articlelist">
      {% for letter in site.data.documents %}
      <li class="sidebararticleitem">
        <span class="sidebararticleitemtitle canOpen">{{ letter.lettername }}</span>
        <ul class="sidebararticles getsOpened">
          {% assign sortedPages = site.pages | sort: 'title' %}
          {% for page in sortedPages %}
          {% if page.format == "book" %}
          {% if page.category == letter.lettername %}
          <li class="articleitem"><a href="#{{page.author | append: '-' | append: page.title | slugify}}"><span class="articlebox">{{ page.author }}</span></a>
          {% endif %}
          {% elsif page.format == "film" %}
          {% if page.category == letter.lettername %}
          <li class="articleitem"><a href="#{{page.author | append: '-' | append: page.title | slugify}}"><span class="articlebox">{{ page.title }}</span></a>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </li>
    </li>
    {% endfor %}
    </ul>
  </div>
  <div id="homehero">
    <div id="pagecontent">
    <h1>{{ page.title }}</h1>
    {{ content }}
    {% for letter in site.data.documents %}
    <h2 class="lettertitle">{{ letter.lettername }}</h2>
    {% assign sortedPages = site.pages | sort: 'title' %}
    {% for page in sortedPages %}
    {% if page.category == letter.lettername %}
    <div class="titlecontainer">
    <h3 class="pagetitle">{{ page.author }} // {{ page.title }}</h3>
    <div class="datereleased">({{ page.yearReleased}})</div>
    </div>
    <div class="lowerpagecontent">{{ page.content }}</div>
    {% if forloop.last %}
    <hr class="pagehr" />
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  </div>
  <div id="homefooter">
    Anarchy is good and also cool
  </div>
</div>
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
