<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
  <div id="homewrapper" class="darken">
  <div id="homeheadermobile">
    <div id="mobilelinks">
      <a href="about.html">About us</a>
      <a href="contribute.html">Contribute</a>
    </div>
    <a href="index.html"><img src="img/astrologo.png" /></a>
    <div id="mobilerighthand">
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    <div id="celestialbuttons">
      <i class="fas fa-sun "></i>
      <i class="fas fa-moon celestialbutton"></i>
    </div>
  </div>
</div>
  <div id="homeheader">
    <div id="hometitle">
        <a onclick="linkclick(event,this)" href="about.html">About us</a>
        <a onclick="linkclick(event,this)" href="index.html"><img src="img/astrologo.png" /></a>
        <a onclick="linkclick(event,this)" href="contribute.html">Contribute</a>
    </div>
    <!-- <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search AnarchySF" name="search" autocomplete="on" /> -->
  </div>
  <div id="sidebar">
    <ul id="articlelist">
      {% for letter in site.data.documents %}
      <li class="sidebararticleitem">
        <span class="sidebararticleitemtitle canOpen">{{ letter.lettername }}</span>
        <ul class="sidebararticles getsOpened">
          {% for page in site.pages %}
          {% if page.format == "book" %}
          {% if page.category == letter.lettername %}
          <li class="articleitem"><a href="#{{page.author | append: '-' | append: page.title | slugify: "raw" | replace: "'", "" | replace: ",", "" | replace: ".", "" | replace: "(", "" | replace: ")", "" | replace: ";", "" | replace: "&-", "" | replace:":", "" }}"><span class="articlebox">{{ page.author }}</span></a>
          {% endif %}
          {% elsif page.format == "film" %}
          {% if page.category == letter.lettername %}
          <li class="articleitem"><a href="#{{page.author | append: '-' | append: page.title | slugify: "raw" | replace: "'", "" | replace: ",", "" | replace: ".", "" | replace: "(", "" | replace: ")", "" | replace: ";", "" | replace: "&-", "" | replace: ":", "" }}"><span class="articlebox">{{ page.title }}</span></a>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </li>
    </li>
    {% endfor %}
    </ul>
  </div>
  <div id="homehero">
    <div id="astronaut">
      <img src="img/astronautnotext.png" />
      <div id="celestialbuttons">
        <i class="fas fa-sun "></i>
        <i class="fas fa-moon celestialbutton"></i>
      </div>
      <div id="morelinks">
        {% include astronautlinks.html %}
      </div>
    </div>
    <div id="pagecontent">
    <h1 id="maintitle">{{ page.title }}</h1>
    {{ content }}
    {% if page.title == "Welcome to anarchySF!" %}
    {% for letter in site.data.documents %}
    <h2 class="lettertitle">{{ letter.lettername }}</h2>
    {% for page in site.pages %}
    {% if page.category == letter.lettername %}
    <div class="titlecontainer">
    <h3 class="pagetitle">{{ page.author }} // {{ page.title }}</h3>
    <div class="datereleased">({{ page.yearReleased}})</div>
    </div>
    <div class="lowerpagecontent">{{ page.content | newline_to_br }}</div>
    {% if forloop.last %}
    <hr class="pagehr" />
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}
  </div>
  <a id="backtotop" href="#"><i class="fas fa-arrow-up"></i></a>
  </div>
  <div id="homefooter">
    {% include footer.html %}
  </div>
</div>
</body>
</html>
