<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
  <div id="homewrapper" class="darken">
  <div id="homeheadermobile">
    <div id="mobilelinks">
      <a href="about.html">About us</a>
      <a href="contribute.html">Contribute</a>
    </div>
    <a href="index.html"><img src="img/astrologohor.png" /></a>
    <div id="mobilerighthand">
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    <div id="celestialbuttons">
      <i class="fas fa-sun "></i>
      <i class="fas fa-moon celestialbutton"></i>
    </div>
  </div>
</div>
  <div id="homeheader">
    <div id="hometitle">
        <a id="homeLogo" onclick="linkclick(event,this)" href="index.html"><img src="img/astrologohor.png" /></a>
        <input type="text" id="aa-search-input" class="aa-input-search" placeholder="Search anarchySF..." name="search" autocomplete="on" />
        <div id="homeLinks">
          <a onclick="linkclick(event,this)" href="about.html">About us</a>
          <a onclick="linkclick(event,this)" href="contribute.html">Contribute</a>
        </div>
    </div>
    <!-- <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search AnarchySF" name="search" autocomplete="on" /> -->
  </div>
  <div id="sidebar">
    <ul id="articlelist">
      {% for letter in site.data.documents %}
      {% assign letterPages = site.pages | where:'category', letter.lettername %}
      <li class="sidebararticleitem">
        <span class="sidebararticleitemtitle canOpen">{{ letter.lettername }} <span class="asIn">as in {% for page in letterPages limit:1 %}
        {% if page.format == "book" and forloop.last %}
        <span>{{ page.author }}</span>
        {% elsif page.format == "book" and forloop.length == 2 %}
        <span>{{ page.author }},</span>
        {% elsif page.format == "book" and forloop.length == 1 %}
        <span>{{ page.author }}</span>
        {% elsif page.format == "film" and forloop.last %}
        <span>{{ page.title }}</span>
        {% elsif page.format == "film" and forloop.length == 2 %}
        <span>{{ page.title }},</span>
        {% elsif page.format == "film" and forloop.length == 1 %}
        <span>{{ page.title }}</span>
        {% endif %}
        {% endfor %}
        </span>
        </span>
        <ul class="sidebararticles getsOpened">
          {% for page in site.pages %}
          {% if page.format == "book" %}
          {% if page.category == letter.lettername %}
          {% if page.title and page.author %}
          <li class="articleitem"><a href="#{{ page.author | append: '-' | append: page.title | replace: "'s", "s" | slugify: "ascii" }}"><span class="articlebox">{{ page.author }}</span></a></li>
          {% else %}
          <li class="articleitem"><a href="#{{ page.title | append: '-' | replace: "'s", "s" | slugify: "ascii" }}"><span class="articlebox">{{ page.title }}</span></a></li>
          {% endif %}
          {% endif %}
          {% elsif page.format == "film" or page.format == "other" %}
          {% if page.category == letter.lettername %}
          {% if page.title and page.author %}
          <li class="articleitem"><a href="#{{ page.author | append: '-' | append: page.title | replace: "'s", "s" | normalize_whitespace | slugify: "ascii" }}"><span class="articlebox">{{ page.title }}</span></a></li>
          {% else %}
          <li class="articleitem"><a href="#{{ page.title | append: '-' | replace: "'s", "s" | slugify: "ascii" }}"><span class="articlebox">{{ page.title }}</span></a></li>
          {% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </li>
    </li>
    {% endfor %}
    </ul>
  </div>
  <div id="homehero">
    <div id="astronaut">
      <img src="img/astronautnotext.png" />
      <div id="celestialbuttons">
        <i class="fas fa-sun "></i>
        <i class="fas fa-moon celestialbutton"></i>
      </div>
      <div id="morelinks">
        {% include astronautlinks.html %}
      </div>
    </div>
    <div id="pagecontent">
    <h1 id="maintitle">{{ page.title }}</h1>
    {{ content }}
    {% if page.title == "Welcome to anarchySF!" %}
    {% for letter in site.data.documents %}
    <h2 class="lettertitle">{{ letter.lettername }}</h2>
    {% for page in site.pages %}
    {% if page.category == letter.lettername %}
    <div class="titlecontainer">
    {% if page.title and page.author %}
    <h3 class="pagetitle">{{ page.author }} // {{ page.title }}</h3>
    {% else %}
    <h3 class="pagetitle">{{ page.title }}</h3>
    {% endif %}
    <div class="datereleased">({{ page.yearReleased}})</div>
    </div>
    <div class="lowerpagecontent">{{ page.content | newline_to_br }}</div>
    {% if forloop.last %}
    <hr class="pagehr" />
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}
  </div>
  <a id="backtotop" href="#"><i class="fas fa-arrow-up"></i></a>
  </div>
  <div id="homefooter">
    {% include footer.html %}
  </div>
</div>
<script  src="{{ "js/algolia.js" }}"></script>
<script>
  ScrollReveal().reveal('.titlecontainer', {reset: true});
  ScrollReveal().reveal('.lowerpagecontent', {reset: true});
</script>
</body>
</html>
