<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "css/works.css" }}">
</head>
<body>
  <div id="homewrapper">
  <div id="homeheader">
    <div id="hometitle">
        <a  href="about.html">About us</a>
        <a  href="index.html"><img src="img/astrologo.png" /></a>
        <a  href="contribute.html">Contribute</a>
    </div>
    <!-- <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search AnarchySF" name="search" autocomplete="on" /> -->
  </div>
  <div id="homehero">
    <div id="astronaut">
      <img src="img/astronautnotext.png" />
      <div id="celestialbuttons">
        <i class="fas fa-sun "></i>
        <i class="fas fa-moon celestialbutton"></i>
      </div>
      <div id="morelinks">
        <a href="anarchists-on-sf.html" class="sidebararticleitemtitle">Anarchists on the Genre</a>
        <a href="recommended.html" class="sidebararticleitemtitle">Ben's Recommended Items</a>
        <a href="worksforconsideration.html" class="sidebararticleitemtitle">Works for Consideration</a>
        <a href="bibliography.html" class="sidebararticleitemtitle">Bibliography</a>
      </div>
    </div>
    <div id="pagecontent">
    <h1 style="margin-top: -10px;">{{ page.title }}</h1>
    {{ content }}
  </div>
  <a id="backtotop" style="grid-row: 1 /span 1; margin-right: 20px;" href="#"><i class="fas fa-arrow-up"></i></a>
  </div>
  <div id="homefooter">
    {% include footer.html %}
  </div>
</div>
</body>
</html>
